<mat-grid-list cols="3">
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Number of counters</mat-card-title>
      <br>
      <mat-card-content>{{ numOfCounters | async }}</mat-card-content>
      <br>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Counters sum up to</mat-card-title>
      <br>
      <mat-card-content>{{ counterValueSum$ | async }}</mat-card-content>
      <br>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Average counter value</mat-card-title>
      <br>
      <mat-card-content>{{ averageCounterValue$ | async }}</mat-card-content>
      <br>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
