@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $headline: mat-typography-level(64px, 96px, 700),
  $title: mat-typography-level(32px, 48px, 500),
    //$subheading-2: mat-typography-level(24px, 32px, 500),
  $body-1: mat-typography-level(16px, 24px, 500)
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);
